@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&amp;display=swap");

* {
  font-family: Poppins;
}

body {
  scroll-behavior: smooth;
}

.section {
  opacity: 0;
  transform: translateY(160px);
  transition: opacity 1.5s ease-out, transform 1s ease-out;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}
